{% extends "base.html" %}

{% set aspect = "cluster" %}

{% block in_ready %}


{{ sparql_to_table('cluster-members') }}

{{ sparql_to_table('publications') }}

{{ sparql_to_iframe('publications-per-year') }}

{{ sparql_to_iframe('publications-per-year-and-author') }}

{{ sparql_to_iframe('wiki-topics') }}

{{ sparql_to_iframe('venue-statistics') }}

{{ sparql_to_table('venue-year-stats') }}

{% endblock %}

{% block scripts %}
{{super()}}

<script type="text/javascript" src="{{ url_for('static', filename='d3.v3.5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='underscore-umd-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dimple.v2.3.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vis-network.min.js') }}"></script>




<!-- Charts used by wikidata query service, @see: https://github.com/wikimedia/wikidata-query-gui -->
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/getMessage.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/FormatterHelper.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/Options.js') }}"></script>
<!-- Abstract data used by all charts  -->
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/AbstractResultBrowser.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/AbstractChartResultBrowser.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/AbstractDimpleChartResultBrowser.js') }}"></script>
<!-- Bar chart -->
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/BarChartResultBrowser.js') }}"></script>
<!-- Bubble chart -->
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/BubbleChartResultBrowser.js') }}"></script>
<!-- Graph chart -->
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/GraphResultBrowserNodeBrowser.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='wikidata/GraphResultBrowser.js') }}"></script>

<script type="text/javascript">
// https://codepen.io/mikuel/pen/amXXBN

$( document ).ready(function() {

// https://stackoverflow.com/questions/58224221/send-json-string-from-python-app-to-javascript-in-jinja-template
var bubbleChartData = JSON.parse({{ cluster_keywords|tojson }});


// var wdqsTable = new wikibase.queryService.ui.resultBrowser.TableResultBrowser();
var wdqsBubbleChart = new wikibase.queryService.ui.resultBrowser.BubbleChartResultBrowser();
var wdqsGraphChart = new wikibase.queryService.ui.resultBrowser.GraphResultBrowser();

wdqsBubbleChart.setResult(bubbleChartData);
wdqsBubbleChart.draw($('#keywords-chart'));

});

</script>

{% endblock %}


{% block page_content %}

<a href="https://water.ubc.ca/" target="_blank"><img src="{{ url_for('static', filename='images/ubc_futurewaters_logo_sm.jpg') }}" width="210px" height="119px" alt="Future Waters Cluster"></a>
<h1 id="h1">Author</h1>



<!-- <div id="chart"></div> -->



<div id="intro"></div>

<div id="wembedder"></div>

<div id="details"></div>



<h3 id="cluster-members-header">Cluster Members</h3>

Information automaticaly gathered from wikidata. Please refer to 
<a href="https://water.ubc.ca/home" target="_blank">Future waters</a> for the complete list of cluster members.

<p><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-question"></i></button> Use the search bar to find information about a cluster member</p>

<table class="table table-hover" id="cluster-members-table"></table>


<br>
<br>
<hr>

<h3 id="publications-header">Publications</h3>

<p><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-question"></i></button> Use the search to filter results based on any of the columns in the table</p>

<table class="table table-hover" id="publications-table"></table>

<br>
<br>
<hr>



<h3 id="keywords-chart-header">Keywords</h3>

<p><button type="button" class="btn btn-info btn-circle"><i class="fa fa-exclamation"></i></button> These keywords are derived from our custom data-gathering scripts</p>
<p><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-question"></i></button> Click on a keyword to find information about it and its cluster members</p>



<div>
    <div id="keywords-chart"></div>
</div>

<br>
<br>
<hr>

<p><button type="button" class="btn btn-info btn-circle"><i class="fa fa-exclamation"></i></button> These keywords are derived from Wikidata</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" id="wiki-topics-iframe"></iframe>
</div>


<br>
<br>
<hr>

<h2 id="venue-statistics-header">Venue statistics</h2>

<p><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-question"></i></button> Hove over a bubble to see the total number of publications for that venue</p>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="venue-statistics-iframe"></iframe>
</div>

<br>
<br>
<hr>

<p>Venue publication count per year.</p>
<p><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-question"></i></button> Use the search bar to find information about a specific year or veneu</p>


<table class="table table-hover" id="venue-year-stats-table"></table>

<br>
<br>
<hr>

<h2 id="publications-per-year-header">Publications per year</h2>

<p><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-question"></i></button> Hove over a bar to see the total number of publications on that year</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" id="publications-per-year-iframe"></iframe>
</div>

<h3>Detailed list of publications per year and authors</h3>

<p><button type="button" class="btn btn-warning btn-circle"><i class="fa fa-question"></i></button> Hove over a bar to see an author's name and their total number of publications on that year</p>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" id="publications-per-year-and-author-iframe"></iframe>
</div>





{% endblock %}

